*{
  box-sizing: border-box;
}

body{
  font-family: 'Electrolize', sans-serif;
  margin: 0;
  width: 100%;
  background-color: cornsilk;
}

h2{
  padding: 0.5em;
  text-align: center;
  color: #616161;
  text-shadow: #e0e0e0 1px 1px 0;
}

h1{
  margin: 0;
  padding: 1em;
  text-align: center;
  letter-spacing: 0.5em;
  color: white;
  text-shadow: 1px 1px 5px rgb(78, 74, 57);
}

.modal{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.301);
}

.modal_content{
  position: relative;
  width: 35%;
  height: 15em;
  text-align: center;
  background-color: white;
  border-top: 45px solid rgb(206, 199, 176);
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0.5px rgb(78, 73, 73);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal button{
  width: 30%;
  height: 15%;
  font-size: 1em;
  background-color: cornflowerblue;
}

.modal p{
  position: absolute;
  top: -48px;
  left: 28%;
  color: white;
  font-weight: 700;
  letter-spacing: 5px;
  text-shadow: black 1px 1px 0;
}

.modal select{
  width: 30%;
  height: 15%;
  margin: 3em 0 4em;
}

.compteur p{
  color: #616161;
  font-size: smaller;
  font-weight: 700;
}

.motAchercher,.indication,#clavier{
  margin: auto;
}

.motAchercher,.indication{
  background-color: white;

}
#aDeviner{
  text-align: center;
  margin: auto;
  width: 100%;
  font-size: 3em;
}
.motAchercher,.indication{
  width: 50%;
  padding: 0em 1em 1em;
  margin-bottom: 1em;
  box-shadow: 1px 1px 5px 0.5px rgb(197, 197, 197);
  border-radius: 5px;
}

#clavier{
  width: 30%;
}

button{
  font-family: 'Electrolize', sans-serif;
  width: 40px;
  height: 40px;
  margin-bottom: 0.5em;
  border-radius: 5px;
  font-size: 25px;
  border: none;
  color: white;
  background-color: rgb(218, 211, 186);
  cursor: pointer;
}

#clavier button:hover{
  border: inherit;
  background-color: rgb(102, 97, 79);
}


.indic_content{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}


.compteur, .pendu{
  padding: 0.5em;
  width: 40%;
  border-radius: 5px;
  box-shadow:inset 1px 1px 5px 0.5px rgb(197, 197, 197);
  background-color: rgba(255, 248, 220, 0.308);
}

.compteur{
  height: 110px;
}

#victoire{
    width: 100%;
    background-color: green;
    color: white;
    font-weight: 500;
    font-size: 1em;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0.5px rgb(197, 197, 197);
}

#victoire p, #defaite p{
  text-align: center;
}

#defaite{
  width: 100%;
  background-color: red;
  color: white;
  font-weight: 500;
  font-size: 1em;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0.5px rgb(197, 197, 197);
}

line,circle{
  display: none;
}

#rejouer{
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#btn_rejouer{
  display: none;
  padding: 0.5em 4em;
  border-radius: 3px;
  text-decoration: none;
  background-color: cornflowerblue;
  font-size: medium;
  font-weight: 700;
  color: white;
  box-shadow: 1px 1px 5px 0.5px rgb(197, 197, 197);
  text-shadow: black 1px 1px 0;
}

#btn_rejouer:hover{
  background-color: rgb(43, 110, 235);
  transition: all 0.5s ease;
}

footer{
  font-family: 'Red Rose', cursive;
  padding: 0.5em 1em;
  text-align: right;
  margin: 0;
  border-top: 1px solid white
}

footer a{
  font-size: 12px;
  text-decoration: none;
  color: #e84545;
}